.feature {

    &__intro {
        text-align: center;

        @include breakpoint-up(large){
            width: 70%;
            margin-bottom: 3.75rem;
        }
    }

    &__grid {

        @include breakpoint-up(medium){
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        padding: .9375rem;

        @include breakpoint-up(medium){
            flex: 0 0 50%;
        }

        @include breakpoint-up(large){
            flex: 1;
        }
    }

    &__img {
        position: inherit;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 22.5rem;
        width: 22.5rem;

        @include breakpoint-up(medium){
            height: 47rem;
            width: 47rem;
        }

        @include breakpoint-up(large){
            height: 61rem;
            width: 61rem;
        }

        &.sc {
            background-image: url('/assets/Images/Crew/Shawn C.png');
        }

        &.jk {
            background-image: url('/assets/Images/Crew/Jay K.png');
        }

        &.jl {
            background-image: url('/assets/Images/Crew/Juan L.png');
        }

    }

    &__title {
        font-size: 1.75rem;
        font-weight: 300;
        line-height: 1.15;
        color: $red;
        margin-bottom: 1.5rem;

        @include breakpoint-up(large){
            font-size: 2.25rem;
            margin-bottom: 2.125rem;
        }

    }

    &__description {
        font-size: 1.2rem;
        line-height: 1.5;

        @include breakpoint-up(large){
            font-size: 1.5rem;
        }
    }
}