.podcastcontainer{
    background-image: linear-gradient($richblue, transparent);
}

.podcastcontainertwo{
    background-image: linear-gradient($richblue, transparent);
    width: 70%;
    margin-left: 7.75rem;
    margin-top: 2.5rem;

    @include breakpoint-down(small){
        width: inherit;
        margin-left: 0rem;
    }
}

.podcastcontainerthree {
    background-image: linear-gradient($richblue, transparent);
    width: 70%;
    margin-left: 7.75rem;
    margin-top: 1rem;

    @include breakpoint-down(small){
        width: inherit;
        margin-left: 0rem;
    }
}

.podcasts {
    width: 50rem;
    margin: 1.875rem auto;

    @include breakpoint-down(small){
        width: 100%;
        padding: 1.5rem;
    }
}

.podcast {
    padding: 1.875rem;
    border-radius: .1875rem;

    &__episode-title {
        text-align: center;
        font-size: 1.75rem;
        font-weight: bold;
        line-height: 1.25;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: 0;
        color: $redbrown;

        @include breakpoint-up(medium){
        font-size: 2rem;
        }
    }

    &__show-name {
        margin-top: 1.5rem;
        text-transform: uppercase;
        font-size: .6875rem;
        color: $copper;

        i {
            color: $sienna;
            font-style: normal;
            font-weight: normal;
            text-transform: capitalize;
            margin-left: .625rem;
        }

        @include breakpoint-up(medium){
        padding-left: 13rem;
        font-size: 1.1rem;
        }

        @include breakpoint-down(small){
            padding-left: 7.5rem;
        }
    }

    &__controls {
        display: flex;
        margin: 2rem -1.875rem -1.875rem -1.875rem;
        padding: 0rem 1.875rem 1.875rem 1.875rem;
        justify-content: space-between;
        border-bottom-left-radius: .1875rem;
        border-bottom-right-radius: .1875rem;
    }

    .artwork {
        margin-bottom: 1rem;

        @include breakpoint-down(small){
            margin-top: -3.5rem;
        }

        >img {
            border-radius: .1875rem;
            width: 9.375rem;
            height: 9.375rem;
            box-shadow: .75rem -.75rem .1rem 0 hsla(0, 0%, 0%, .1);
            margin-top: -5rem;
            margin-bottom: -1rem;

            @include breakpoint-down(small){
                margin-top: -3.33rem;
                margin-bottom: -3rem;
                width: 5rem;
                height: 5rem;
            }
        }
    }

    .player {
        flex: 1;
        margin-left: 1rem;
        padding-left: 1rem;

        @include breakpoint-down(small){
            width: 100%;
            margin-left: -6rem;
            padding-top: 2rem;
        }
    }
}


//    #audio-player-container {
//  position: relative;
//  margin: 6.25rem 5% auto 5%;
//      width: 90%;
//      max-width: 15.625rem;
//      height: 5rem;
//      background: #fff;
//  }
//  #audio-player-container::before {
//      position: absolute;
//      content: '';
//      width: calc(100% + .25rem);
//      height: calc(100% + .25rem);
//      left: -.125rem;
//      top: -.125rem;
//      background: linear-gradient(to left #007bd5, #ff8a00);
//      z-index: -1;
//  }
//  #play-icon {
//      margin: 1.25rem 2.5% 1.25rem 2.5%;
//  }
//  path {
//      stroke: #007bd5;
//  }