#seasons {
    display: grid;
}

#seasonslist {
    position: absolute;
    padding: .5rem;

    @include breakpoint-down(small){
        margin-left: .5rem;
        margin-top: .25rem;
    }
    @include breakpoint-up(medium){
        margin: .5rem 0 0 .5rem;
    }
}

//.season1 {}

#reviewbonus {
    display: grid;
}

#review {
    position: absolute;
    padding: .5rem;

    @include breakpoint-down(small){
        margin-left: .5rem;
        margin-top: .25rem;
    }
    @include breakpoint-up(medium){
        margin: .5rem 0 0 .5rem;
    }
}


// season 1-10episode
// season 2-10episode
// season 3-10episode
// season 4-10episode
// season 5-10episode
// bonus episode 3 skits chips/ men victums/xmas cross over
// incycshow reviews 14 episode