// Colors
$orangered: #ff4500;
$white: #ffffff;
$lightblue: #add8e6;
$black: #000000;
$orange: #FFA500;
$red: #FF0000;
$darkred: #610000;
$grey: #808080;
$verylightgrey: #D3D3D3;
$copper: #B87333;
$sienna: #A0522D;
$redbrown: #A52A2A;
$skyblue: #689AAD;
$richblue: #2B73AD;
$coral: #FF7F50;
$burntmaroon: #450c0c;


// Font Sizes
$font-sm: .075rem; //14px
$font-med: 1.125rem; //18px
$font-lg: 1.25rem; //20px
$font-xlg: 3.25rem; //52px